@import '../../__assets/css/mixin';
@import '../../__assets/css/rem';
@import '../../__assets/css/vars';

.rjcv-swiper {
  overflow: hidden;

  .rjcv-swiper-wrap {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .rjcv-swiper-indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .rjcv-swiper-indicator {
      display: inline-block;
      width: rem(16);
      height: rem(16);
      margin: 0 rem(6);
      background-color: $kw-color-assistant;
      border-radius: 50%;
      opacity: 0.5;

      &.rjcv-swiper-hover {
        background-color: $kw-color-primary;
      }
    }
  }
}
